<h2 class="text-center mt-5">Fill the form down here to register to our website!</h2>
<form action="" class="text-center mt-5">
  <div class="my-4">
    <h5>Name</h5>
    <label for="">
      <input type="text" class="px-5">
    </label>
  </div>
  <div class="my-4">
    <h5>Surname</h5>
    <label for="">
      <input type="text" class="px-5">
    </label>
  </div>
  <div class="my-4">
    <h5>Username</h5>
    <label for="">
      <input type="text" class="px-5">
    </label>
  </div>
  <div>
    <div class="my-4">
      <label for="">
        <h5>Password</h5>
        <input type="password" class="px-5">
      </label>
    </div>
    <div class="my-4">
      <label for="">
        <h5>Confirm password</h5>
        <input type="password" class="px-5">
      </label>
    </div>
  </div>
  <div class="my-4">
    <h5>Gender</h5>
    <select name="" class="text-center">
      <option value="">Choose a gender</option>
      <option value="male">Male</option>
      <option value="female">Female</option>
      <option value="other">Other</option>
      <option value="">Prefer not to answer</option>
    </select>
  </div>
  <div class="my-4">
    <h5>Profile picture</h5>
    <input type="file">
  </div>
  <div class="my-4">
    <h5>About you</h5>
    <textarea cols="60" rows="5" placeholder="Write something about yourself here.."></textarea>
  </div>
  <button class="btn btn-primary px-4">Register</button>
</form>
