/* 
    colors:

    background color general:   background-color: #FBF7E3;
    background button:          background-color: #F3DF85;
    background button:hover     background-color: #cbba6f;
    text color:                 color: #612406;

    Mobile: fino a 576
    Tablet: 576 a 768
    Medium: 768 a 1200
    Medium-large: 1200 o 1280 a 1440
    Extra-large: 1440 in su
    
*/