@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

img {
    max-width: 100%;
}

#navbar {
    display: flex;
    justify-content:space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px;
    background-color: #FBF7E3;
    gap: 10px;
}

#navbar .subNav1 {
    flex-basis: 100%;
}

#navbar .subNav2,
#navbar .subNav3,
#navbar .subNav4,
#navbar .subNav5 {
    border-radius: 40px;
    flex-basis: calc(100% / 2 - 5px );   
    height: 50px;
    font-size: 0.8em;
}

#navbar .mainNav {
    border-radius: 40px;
    height: 80px;
}

#navbar .bee-icon {
    background: url(../imgs/logo.png);
}

#navbar .col {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F3DF85;
}

#navbar .col:hover {
    background-color: #cbba6f;
}

#navbar a {
    text-decoration: none;
    color: #612406;
}

#navbar b {
    font: revert;
    font-family: 'Roboto', sans-serif;
}

#navbar .main-text {
    font-size: 1.4em;
    padding-left: 25px;
}

@media screen and (min-width: 576px) {

    #navbar .subNav2 {
        order: 1; 
    }

    #navbar .subNav3 {
        order: 2;
    }

    #navbar .subNav1 {
        order: 3;
    }

    #navbar .subNav4 {
        order: 4;
    }

    #navbar .subNav5 {
        order: 5;
    }

    #navbar .subNav1,
    #navbar .subNav2,
    #navbar .subNav3,
    #navbar .subNav4,
    #navbar .subNav5 {
        flex-basis:calc(100% / 5 - 10px);
    }

    #navbar .main-text { 
        padding-left: 5px;
    }

}

@media screen and (min-width: ) {
    
}

/* 
    colors:

    background color general:   background-color: #FBF7E3;
    background button:          background-color: #F3DF85;
    background button:hover     background-color: #cbba6f;
    text color:                 color: #612406;

    Mobile: fino a 576
    Tablet: 576 a 768
    Medium: 768 a 1200
    Medium-large: 1200 o 1280 a 1440
    Extra-large: 1440 in su
    
*/