<div class="container mt-5">
  <div class="row">
    <div class="col-md-6 mx-auto">
      <h5 class="text-center">Registrazione</h5>
      <form>
        <input [(ngModel)]="registerData.name"      name = "nome"     type = "text"
        class = "form-control mt-3" placeholder = "Nome">

        <input [(ngModel)]="registerData.email"     name = "email"    type = "email"
        class = "form-control mt-3" placeholder = "Email">

        <input [(ngModel)]="registerData.password"  name = "password" type = "password"
        class = "form-control mt-3" placeholder = "Password">

        <button (click)="save()" class = "btn btn-primary mt-3">Register</button>
      </form>
    </div>
  </div>
</div>
